* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

.container {
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr;
}

.header {
    grid-column: 2 / span 2;
    display: grid;
    padding: 2px 20px 5px 50px;
    box-shadow: 0 5px 10px rgba(61, 61, 61, .5);
}

.header-top {
    display: grid;
    grid-template-columns: .7fr 10fr 50px 1fr 100px;
    align-items: center;
    justify-items: center;
}

.header-bottom {
    display: grid;
    grid-template-columns:  120px 1fr repeat(3, 100px);
    grid-template-rows: 1fr 2fr;
    align-items: center;
    column-gap: 10px;
}

.navBar {
    background-color: rgb(0, 132, 255);
    grid-row: 1 / span 2;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 150px repeat(5, 60px) 120px repeat(3, 60px);
    padding: 30px 0 0 10px;
}

.main {
    background-color: rgba(182, 182, 182, 0.4);
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-left: 8px orange solid;
}

.secondary {
    background-color: rgba(182, 182, 182, 0.4);
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    padding: 20px 20px 20px 0;
}

/* Header items */
input {
    justify-self: start;
    width: 80%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgba(182, 182, 182, 0.4);
}

img {
    border-radius: 50%;
    border: solid orange 4px;
}

.img-standard {
    height: 50px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.img-large {
    height: 80px;
    grid-row: 1 / span 2;
}

.fa-bell {
    transform: scale(1.1);
}

.greeting {
    font-weight: bold;
    align-self: end;
    margin-bottom: -5px;
}

.title {
    grid-row: 2 / span 1;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

button {
    color: white;
    background-color: rgb(0, 132, 255);
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 90px;
    font-size: 15px;
    font-weight: bold;
    grid-row: 1 / span 2;
}

button:hover {
    box-shadow: 0px 0px 5px 0px rgb(0, 132, 255);
}

button:active {
    transform: scale(.9);

}

/* Navbar items */

.navBar > i {
    align-self: center;
    justify-self: center;
    color: white;
    transform: scale(1.2);
}

.navBar i:first-child {
    margin: -100px 0 0 0;
    transform: scale(2.5);
}

.navBar span {
    align-self: center;
    color: white;
    font-weight: 800;
    margin-left: 10px;
}

.navBar > span:first-of-type {
    font-size: 24px;
    align-self: center;
    margin: -100px 0 0 10px;
}

#com {
    align-self: start;
    margin: 20px 0 0 0;
}

#com.com {
    margin-left: 10px;
}

/* Secondary bar items */
/* First card  */
.side-card, .friends {
    background-color: white;
    border-radius: 10px;
}

.side-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}

.side-card h3 {
    font-size: 16px;
}

.side-card p {
    font-size: 13px;
    color: rgb(80, 80, 80);
}

/* Second card  */
.friends {
    padding: 20px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

.friends img {
    height: 50px;
}

.friends div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 3px;
}

.friends div span {
    font-weight: bold;
}

.friends div p {
    color: rgb(80, 80, 80);
}

/* Main section items */
.main p {
    color: rgb(80, 80, 80);
    grid-row: 2 / span 1;
    grid-column: 1 / span 4;
}

.main .card {
    display: grid;
    grid-template-columns: 50% repeat(3, 1fr);
    grid-template-rows: min-content 1fr 10%;
}

.main i {
    grid-row: 3 / span 1;
    transform: scale(1.2);
}

.fa-star {
    grid-column: 2;
}

.fa-eye {
    grid-column: 3;
}

.fa-timeline {
    grid-column: 4;
}