* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 6fr;
}

.header {
    border: 1px solid green;
    grid-column: 2 / span 2;
    display: grid;
    padding: 2px 20px 5px 50px;
}

.header-top {
    display: grid;
    grid-template-columns: .7fr 10fr 50px 1fr 100px;
    align-items: center;
    justify-items: center;
}

.header-bottom {
    display: grid;
    grid-template-columns:  120px 1fr repeat(3, 100px);
    grid-template-rows: 1fr 2fr;
    align-items: center;
    column-gap: 10px;
}

.navBar {
    border: 1px solid blue;
    grid-row: 1 / span 2;
}

.main {
    border: 1px solid purple;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    border: dashed red 1px;
    padding: 20px;
    border-radius: 10px;
    border-left: 8px orange solid;
}

.secondary {
    border: 1px solid orange;
}

/* Header items */
input {
    justify-self: start;
    width: 80%;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgba(182, 182, 182, 0.4);
}

img {
    border-radius: 50%;
    border: solid orange 4px;
}

.img-standard {
    height: 50px;
}

.name {
    font-size: 18px;
    font-weight: bold;
}

.img-large {
    height: 80px;
    grid-row: 1 / span 2;
}

.fa-bell {
    transform: scale(1.1);
}

.greeting {
    font-weight: bold;
    align-self: end;
    margin-bottom: -5px;
}

.title {
    grid-row: 2 / span 1;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

button {
    color: white;
    background-color: rgb(0, 132, 255);
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 90px;
    font-size: 15px;
    font-weight: bold;
    grid-row: 1 / span 2;
}